 </main>
<footer>
    <div class="container"  >
        <div class="row">
            <div class="col-md-6" >
                <ul id="additional_links">
                    <li><a style="margin-top:10px;color:black !important;font-family:Arial;font-weight:bold" href="../../../../../kullanicisozlesmesi">Kullanıcı Sözleşmesi</a></li>
                    <li><a style="margin-top:10px;color:black !important;font-family:Arial;font-weight:bold" href="../../../../../gizlilikpolitikasi">Gizlilik Politikası</a></li>
                    <li><a style="margin-top:10px;color:black !important;font-family:Arial;font-weight:bold" href="../../../../../hakkimizda">Hakkımızda</a></li>
                    <li><a style="margin-top:10px;color:black !important;font-family:Arial;font-weight:bold" href="../../../../../iletisim">İletişim</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div style="margin-top:10px;" id="copy">Designed and Development by <a style="font-weight:bold" href="https://github.com/karakusnavy" target="_blank">karakusnavy</a> © 2019 Tüm Hakları Saklıdır.</div>
            </div>
        </div>
    </div>
</footer>
<div id="toTop"></div>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/common_scripts.min.js"></script>
<script src="~/Scripts/functions.js"></script>
</body>
</html>
