
@{
    ViewBag.Title = "GizlilikPolitikasi";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Online Sicil Gizlilik Politikası</h4>
    <p><strong>Online Sicil</strong> platformunda yapılan tüm paylaşımlar kullanıcılar tarafından açık olarak paylaşılmış olup <strong>Online Sicil</strong> ile hiçbir alakası bulunmamaktadır. Açılan şikayetler tamamen mağduriyet sonucu
    açılmış olup kaldırılması o sicil kaydını açan kişi tarafından mümkündür. Tüm kullanıcılar e-posta onaylı olup arama kayıtları arkaplanda kaydedilmektedir.</p>
</div>

