
@{
    ViewBag.Title = "KullaniciSozlesmesi";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<div class="container" style="padding:10px;">
    <h4>Online Sicil Kullanıcı Sözleşmesi</h4>
    <p>
        <strong>Online Sicil</strong> platformunda yapılan tüm paylaşımlar kullanıcılar tarafından açık olarak paylaşılmış olup <strong>Online Sicil</strong> ile hiçbir alakası bulunmamaktadır. Açılan şikayetler tamamen mağduriyet sonucu
        açılmış olup kaldırılması o sicil kaydını açan kişi tarafından mümkündür. Tüm kullanıcılar e-posta onaylı olup arama kayıtları arkaplanda kaydedilmektedir.
        <br />
        <br />
        <strong>1-</strong> 5651 sayılı kanun'un 8. maddesine ve T.C.K'nın 125. maddesine göre paylaşımlardan paylaşımı yapan üyeler sorumludur. Şahısların yazdıkları yazılardan dolayı Online Sicil hiç bir sorumluluk kabul etmez.
        <br /><br />
        <strong>2-</strong> T.C. yasalarını ya da uluslararası kanunları, anlaşmaları, tüzükleri çiğneyen yazılar Online Sicil Forumunda paylaşılamaz.
        <br /><br />
        <strong>3-</strong> Türkiye Cumhuriyeti'nin temel değerlerine ve büyük önderimiz Atatürk'e yönelik karalayıcı ve aşağılayıcı mesajlar yazmak kesinlikle yasaktır.
        <br /><br />
        <strong>4-</strong> Foruma katılabilmek için istisnai durumlar hariç (istisnai durumlar yönetim tarafından üyenin davranışlarına göre verilir) 18 yaşından büyük olmanız gerekmektedir. 18 yaşından küçük kişilerin üyelikleri 18 yaşını geçene kadar durdurulur.
        <br /><br />
        <strong>5-</strong> Topluluklar hakkında tahrik edici ve küçük düşürücü yazılar yazılamaz. (Örnek: Türk, Kürt, Ermeni, Yahudi, Çerkez, Zenci, Çingene, Roman, Göçmen vs...)
        <br /><br />
        <strong>6-</strong> Tehdit edici, tartışmaya yol açacak, hakaret içeren, küfürlü, örf ve adetlere karşı, nefret dolu, siyasi ya da çok miktarda istenmeyen mesajlar göndermek; din, dil, ırk ayrımına yönelik yazılar göndermek ve materyaller kullanmak; forum yöneticilerini ve kullanıcılarını küçümser davranışlar sergilemek kesinlikle yasaktır.
        <br /><br />
        <strong>7-</strong> Yorum amacı taşımayan salt propaganda içerikli parti ve siyaset yazıları yasaktır.
        <br /><br />
        <strong>8-</strong> Forumda Türkçemize ve yazım kurallarına dikkat edelim lütfen. Umuyoruz ki siz de güzel Türkçemizi düzgün bir şekilde kullanmaya özen göstereceksinizdir.
        <br /><br />
        <strong>9-</strong> Mesajlarda bütün kelimeleri kalın, eğik, altı çizili, büyük, aynı yazı tipi ile veya tamamen renkli yazmak yasaktır.
        <br /><br />
        <strong>10-</strong> Konu başlıklarını açtığınız konu ile alakalı girmeye özen gösterelim. "Yardım", "Bakar mısınız" vb başlıklar girmeyelim. Ayrıca başlığın tümünü büyük harflerle yazmayalım, gereksiz noktalama işaretleri kullanmayalım.
        <br /><br />
        <strong>11-</strong> Sürekli kendi sitesinin reklamını yapacak şekilde veya başka bir amaçla reklam içerikli konular açmak ve mesajlar yazmak yasaktır.
        <br /><br />
        <strong>12-</strong> Para kazanmak için kısaltılmış linkler kullanmak, backlink kasmak için konu açmak ve mesajlar yazmak kesinlikle yasaktır. Yaptığı tespit edilen üyelere uyarmaksızın süreli uzaklaştırma cezası verilir. Davranışın tekrarı halinde ise hesabı durdurulur.
        <br /><br />
        <strong>13-</strong> Forumda bir konu paylaşırken, içeriğin bir kısmını yazıp link vermek yasaktır. Ancak içeriğin tamamını yazıp kaynak olarak link verebilirsiniz.
        <br /><br />
        <strong>14-</strong> Eğer paylaştığınız içerik sizin tarafınızdan üretilmediyse kendi sitenizi kaynak olarak belirtmeyiniz. Bu bir bilgi paylaşmaktan çok reklam yapmaya girer ve 9. kurala göre bu yasaklanmıştır. Paylaştığınız bu içerikte kaynak olarak sadece içerik üreticisini veriniz.
        <br /><br />
        <strong>15-</strong> Forumda konulara konu ile alakasız, alaycı veya dalga geçici tavırda mesajlar atanlar forumdan belli bir süre uzaklaştırılacaktır. Davranışın devam etmesi halinde ise forumdan süresiz uzaklaştırılacaklardır.
        <br /><br />
        <strong>16-</strong> Açılan konuya ard arda en fazla 2, satış konunuza ise en fazla 3 cevap atabilirsiniz. Bu sayıdan fazla cevap attığınız taktirde mesajlarınız silinecek veya konunuz kilitlenecektir. Sürekli tekrarı halinde ise üyeye süreli ban cezaları uygulanacaktır.
        <br /><br />
        <strong>17-</strong> Forumda, sitenizin ziyaret edilmesini ve reklamlara tıklanmasını istemeniz, sitenizde satılan veya aracı olunulan bir "ürünün" reklamını yapmanız ve bunlar dışındaki tüm ticari kaygı güden mesajlar ve crack, mp3, warez, hack, adult, pornografik ve benzeri sitelerin ve ürünlerin tanıtımı ve ticareti yasaktır.
        <br /><br />
        <strong>18-</strong> Özel mesajlaşma sistemini reklam yapmak için kullanan üyelerin hesapları uyarmaksınız süresiz durdurulur. Özel mesajlaşma sistemini amacına uygun kullanalım lütfen.
        <br /><br />
        <strong>19-</strong> Hertürlü telif hakkına sahip içeriği veya ürünü paylaşmak ve tanıtımını yapmak yasaktır. Paylaşanlar uyarılmaksızın uzaklaştırma cezası alırlar.
        <br /><br />
        <strong>20-</strong> Forumda kişisel zevkler için kullanıcı adı değişimi yapılmamaktadır. Eğer gerçekten gerekliyse, neden gerekli olduğunu açıklayıp kanıtlayarak, yöneticilerimiz ile iletişime geçebilirsiniz. Gerekli görüldüğü taktirde kullanıcı adı değişiminiz yapılacaktır. (Sadece çok zorunlu durumlarda kullanıcı adı değişimi yapıyoruz. Kullanıcı adımı sevmedim, şöyle bir site açtım, heryerde değiştiriyorum vb gibi nedenlerle bize gelmeyiniz.)
        <br /><br />
        <strong>21-</strong> Forumda çoklu üyelik kesinlikle yasaktır. Çoklu üyelik yapıldığı testip edilen hesaplar forumdan süresiz uzaklaştırılır. Özel durumları ise üyeler bu durumu kanıtlayarak yöneticileri haberdar etmelidir.
        <br /><br />
        <strong>22-</strong> Online Sicilnda kesinlikle üye silimi ve bu üyelerin tüm mesaj ve konu silimleri yapılmamaktadır. Sebebi ise silinen kullanıcının kullanıcı adı ile bir başka kişi kayıt olabilir ve bu kişi gibi davranarak üyeleri dolandırmaya çalışabilir. Bu yüzden bu tarz tekliflerde bulunmayınız. Eğer üyeliğinizin durdurulmasını istiyorsanız, bu üyelik ile yöneticilere özel mesaj atıp talebinizi iletiniz. Talep doğrultusunda kişinin hesabı kendi isteği doğrultusunda durdurulur.
        <br /><br />
        <strong>23-</strong> Online Sicil'ndan gönderilecek her türlü bilgilendirme ve kampanya haberini almayı kabul ediyorum. Not: E-posta ve SMS almak istemeyen kullanıcılarımız profil ayarlarından bu seçeneği kaldırabilirler.
        <br /><br />
        
        * Üyelik sözleşmesinin güncellenme veya yenilerinin eklenmesi hakkı her zaman saklıdır.
    </p>
</div>

